/* -------------------------------------------------------------------------- */
/*                              SVG Lottie reset                              */
/* -------------------------------------------------------------------------- */

.lottieSvg {
  width: 100%;
  height: 100%;
}

.lottieSvg > svg,
.vineOverlay > svg {
  display: block;

  width: 100% !important;
  height: 100% !important;

  transform: translate3d(0, 0, 0);
}

/* -------------------------------------------------------------------------- */
/*                              Centered title                                */
/* -------------------------------------------------------------------------- */

.content {
  /* position: absolute; */

  width: 100%;

  margin-top: 2.5rem;
}

/* -------------------------------------------------------------------------- */
/*                                 Left tree                                  */
/* -------------------------------------------------------------------------- */

.treeLeft {
  position: absolute;

  right: 5.25rem;

  width: 6.625rem;

  aspect-ratio: 1 / 1;
}

/* -------------------------------------------------------------------------- */
/*                            Right tree + vine                               */
/* -------------------------------------------------------------------------- */

.treeRight {
  position: relative;

  width: 14rem;

  margin-top: 4rem;
  margin-left: -1.71875rem;
}

.vineOverlay {
  position: absolute;

  inset: 0;

  width: 100%;
  height: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                  Tablet                                    */
/* -------------------------------------------------------------------------- */

@media (min-width: 768px) {
  .content {
    margin-top: 4.875rem;
  }

  .treeLeft {
    top: 0;

    right: 10rem;

    width: 13.625rem;
  }

  .treeRight {
    width: 23.5rem;

    margin-top: 5.125rem;
    margin-left: -3.625rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                                  Laptop                                    */
/* -------------------------------------------------------------------------- */

@media (min-width: 1024px) {
  .content {
    margin-top: 6.5rem;
  }

  .treeLeft {
    width: 18.1875rem;
  }

  .treeRight {
    width: 31.25rem;

    margin-top: 8.625rem;
    margin-left: -4.125rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                               Large desktop                                */
/* -------------------------------------------------------------------------- */

@media (min-width: 1280px) {
  .content {
    margin-top: 19.25rem;
  }

  .treeLeft {
    top: 11.375rem;

    right: 16rem;

    width: 24.25rem;
  }

  .treeRight {
    width: 51.875rem;

    margin-top: 17.25rem;
    margin-left: -8.125rem;
  }
}
